@import "./style/reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
    // @apply rounded-lg shadow-lg;
}

.active-user {
    @apply bg-black27 rounded-2xl text-white;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1d4fd8a2;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1d4fd8a2;
}

.quill-text .quill {
    .ql-toolbar.ql-snow {
        display: none;
    }
    .ql-container.ql-snow {
        --p-right: 135px;
        border-radius: 10px;
        min-height: 60px;
        width: 100%;
        overflow: hidden;
        background-color: #fff;
        p {
            width: calc(100% - var(--p-right));
        }
        img {
            --size: 80px;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            border-radius: 12px;
            width: var(--size);
            height: var(--size);
        }
    }
}

.mess-content {
    p > img {
        --size: 300px;
        max-width: var(--size);
        max-height: var(--size);
    }
}

.hidden-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0px;
    white-space: nowrap;
}

.shadown-0-3 {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
